body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 700px;
  background: #fff;
  margin: 16px auto;
  padding: 15px 0px 5px 0px;
}

.title {
  background: #e3f4ff;
  margin: 15px;
  padding: 30px 15px;
}

.content {
  background: #e3f4ff;
  padding: 30px 15px;
  margin: 15px;
  font-size: 24px;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  margin: 15px;
  font-size: 24px;
  text-align: center;

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  font-size: 24px;
  padding: 15px 40px;
}